*{

        margin: 0px;
        padding: 0%;
        box-sizing: border-box;

}

div{

    background-color: aqua;
    border: 1px solid red;
    height: 200px;
    width: 100%;

}  

#lateral{

    width: 25%;
}

section{

    display: flex;
    gap: 20px;

    justify-content: center;
    align-items: center;

    height: 220px;

}

header{

    background-color: aqua;
    height: 100px;
}

footer{

    background-color: aqua;
    height: 100px;
}